<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <style type="text/css">
	  .link {
		  background: #f00;
		  display: block;
		  height: 100px;
		  width: 100px;
	  }

	  .aaa {

	  }
  </style>
  </head>
  <body>
  <a class="link" id="link" href="http://www.baidu.com">
  	<span style="width:50px; height:30px;" id="foo">haha</span>
  </a>

    <div style="width:300px;height:64px;overflow:hidden;"> 
	    <div style="width:640px;">       
	        <div style="width:128px;height:64px;background:pink;float:left;"></div>        
	        <div style="width:128px;height:64px;background:yellow;float:left;"></div>            
	         <div style="width:128px;height:64px;background:#234566;float:left;"></div>        
	        <div style="width:128px;height:64px;background:#453782;float:left;"></div>        
	       <div style="width:128px;height:64px;background:#997788;float:left;"></div>
	    </div>
	</div>
  <ul id="test_ul"></ul>
	<script type="text/javascript">
		var span = document.getElementById('foo');
		var link = document.getElementById('link');

		span.onclick = function(e) {
			e.preventDefault();
			e.stopPropagation();
			// e.cancelBubble();
			alert('ddd');
			// return false;
		}

		link.onclick = function(e) {
			alert('aaaaa');
		}

		var li = '';
		for (var i= 0; i< 10000;i++) {
			li += '<li class="aaa">aaaaa</li>'
		}
		var ul = document.getElementById('test_ul');
		ul.innerHTML = li;

		ul.addEventListener('click',  function(event) {
			var target = event.target || window.target;
			console.log(target);
			if(target.nodeName && target.nodeName.toLowerCase() == "li"){
				var index = Array.prototype.indexOf.call(target.parentElement.children,target);
				alert(index);
			}
		})
	</script>
  </body>
</html>