* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    color: #555;
    font-family: 'Avenir Next', 'Lantinghei SC';
    font-size:14px;
    -webkit-font-smoothing: antialiased;
}

.wrap {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 50%;
    margin-top: -300px;
    background-color: #333;
    overflow: hidden;
}

.photo {
    width: 260px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -130px;
    box-shadow: 0 0 1px rgba(0,0,0,.01); /* 阴影 */
    transition: all .5s;
    perspective: 800px;
    -webkit-perspective: 800px;
}

.photo .side {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #eee;
    top: 0;
    right: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.photo .side-front {

}

.photo .side-front .image {
    width: 100%;
    height: 250px;
    line-height: 250px;
    overflow: hidden;
}

.photo .side-front .image img {
    width: 100%;
}

.photo .side-front .caption {
    text-align: center;
    font-size: 16px;
    line-height:50px;
}

.photo .side-back {

}

.photo .side-back .desc {
    color: #666;
    font-size: 14px;
    line-height: 1.5em;
}

.photo_center {
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -130px;
    z-index: 999;
}

.photo-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .5s;
    -webkit-transform-origin:0% 50%;
    -moz-transform-origin:0% 50%;
    -ms-transform-origin:0% 50%;
    -o-transform-origin:0% 50%;
    transform-origin:0% 50%;
}

.photo-wrap .side {
    backface-visibility: hidden;
}

.photo-wrap .side-front {
    transform: rotateY(0deg);
}

.photo-wrap .side-back {
    transform: rotateY(180deg);
}

.photo_back .photo-wrap {
    transform: translate(260px,0px) rotateY(180deg);
}

.photo_front .photo-wrap {
    transform: translate(0px,0px) rotateY(0deg);
}

@font-face {
    font-family: 'my-icon';
    src: url('fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'smile';
    src: url('smile.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'image';
    src: url('image.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav {
    width:80%;
    height:30px;
    position: absolute;
    left:10%;
    bottom: 20px;
    z-index:999;
    background-color: #fff ;
    text-align: center;
}

.nav span {
    width:30px;
    height:30px;
    display: inline-block;
    cursor: pointer;
    background-color: #ccc;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius: 50%;
    transform: scale(.48);
}

.nav span:after {
    content: "\e800";
    font-family: "my-icon";
    font-size: 80%;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    opacity: 0;
}

.nav span.current:after {
    opacity: 1;
}

.nav span.current {
    transform: scale(1);

}

.nav span.back {
    transform: rotateY(-180deg);
    background-color: #3c3c3c;

}
.test-font {
    font-family: "my-icon";
    font-size: 80%;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}
















































