.main .list {
    background-color: #FFFFFF;
    border-top: 1px solid #DCDBE1;
}
.main .list li {
    position: relative;
    height: 43px;
    padding: 11px 65px 11px 15px;
}
.main .list li:after {
    content: '';
    height: 1px;
    position: absolute;
    left: 15px;
    bottom:0;
    right:0;
    background-color: #E4E3E6;
}

.main .list li a {
    color: #000;
    font-size: 18px;
}

.main .list li a:after {
    content: '\e583';
    font-family: 'mui';
    position: absolute;
    right: 10px;
    color: #C3C3C3;

}


