<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="apple-itunes-app" content="app-id=1152333875">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="msapplication-tap-highlight" content="no">
<script type="text/javascript">
try {
    window.G_WEIXIN_CONFIG = JSON.parse('{"debug":false,"beta":false,"appId":"wx473d7b7cc470eed0","nonceStr":"xnEVWcf4XF","timestamp":1499354075,"url":"http:\/\/xqq.huigoumai.com\/expand?version=061115","signature":"ea15c7ad7d4fa1ccd1b5311be89744f8692ad900","jsApiList":["addCard","checkJsApi","chooseCard","chooseImage","chooseWXPay","closeWindow","downloadImage","downloadVoice","editAddress","getLatestAddress","getLocation","getNetworkType","hideAllNonBaseMenuItem","hideMenuItems","hideOptionMenu","onMenuShareAppMessage","onMenuShareQQ","onMenuShareTimeline","onMenuShareWeibo","onRecordEnd","openLocation","openProductSpecificView","pauseVoice","playMusic","playVoice","previewImage","scanQRCode","showAllNonBaseMenuItem","showMenuItems","showOptionMenu","startRecord","stopRecord","stopVoice","translateVoice","uploadImage","uploadVoice"]}');
} catch (e) {
    window.G_WEIXIN_CONFIG = {};
}
</script><title>从猪队友到带娃能手</title>
<link rel="stylesheet" type="text/css" href="assets/common/lib.css?7621f0e1610395c41a78a0aa52cf7fcd">
    <link rel="stylesheet" type="text/css" href="assets/expand/061115/main.css?22be03520386d02215621037e29b6a55">
</head>

<body>
    <div id="app_ghostclick_mask" class="mask-hack"></div>
    <div id="app_container" class="app-container">
            <div class="swiper-container" id="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide page1">
                <img class="ani title" src="assets/expand/061115/img/p1-s1.png?f4c23bebe18ed8ec96aceead33a04a0f" alt="" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s" >
                <div class="ani line" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s" ></div>
                <img class="ani desc" src="assets/expand/061115/img/p1-s2.png?55e8fe97664240669af14ac9e2f1ec21" alt="" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s" >
                <img class="ani father" src="assets/expand/061115/img/p1-s3.png?5f6dd50aa1cafe451fa84eed640e5bbf" alt="" swiper-animate-effect="slideInUp" swiper-animate-duration="0.5s" swiper-animate-delay="2s" >
                <img class="ani pig" src="assets/expand/061115/img/p1-pig.png?c14ab88f724b94f9bc8346035a74a426" alt="" swiper-animate-effect="rollIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.7s" >
                <img class="ani arrow" src="assets/expand/061115/img/p1-arrow.png?502856bb26f5a99ea063454376729cbf" alt="" swiper-animate-effect="bounceIn" swiper-animate-duration="0.5s" swiper-animate-delay="2.5s" >
            </div>
            <div class="swiper-slide page2">
                <img class="ani title" src="assets/expand/061115/img/p2-s0.png?a9e81ba998633511e0572608d4dd43d9" alt="" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s" >
                <img class="ani desc" src="assets/expand/061115/img/p2-s1.png?f1d4662a2a6e5568d86019ff4948efa2" alt="" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.8s" >
                <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s" >面对娃，爸爸总是不知所措，笨手笨脚</p>
            </div>
            <div class="swiper-slide page3">
                <img class="ani title" src="assets/expand/061115/img/p3-s0.png?f1201600614fa54ea16d8b8e54d95b14" alt="" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s" >
                <img class="ani" src="assets/expand/061115/img/p3-s1.png?f694b8f34f71289409be8aeae24be4ea" alt="" swiper-animate-effect="bounceIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.8s" >
                <img class="ani desc" src="assets/expand/061115/img/p3-s2.png?31a532ef098b734affbb05d7875e67c4" alt="" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s" >
                <img class="ani fly" src="assets/expand/061115/img/p3-s3.png?df37b0549dcdf67ef8f99ac4194a9ea3" alt="" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s" >

                <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="2s" >道理我都懂，但<br>如何才能让猪队友变成带娃能手？</p>
            </div>
            <div class="swiper-slide page4">
                <img class="ani" src="assets/expand/061115/img/p4-s0.png?59f65398122bdbd7f0a047b5386bcfe3" alt="" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.8s" swiper-animate-delay="0s" >
                <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1s" >在育儿路上孤身奋战的你<br>快打造爸爸，和你一起并肩作战！</p>
            </div>
            <div class="swiper-slide page5">

                                <img class="ani title" src="assets/expand/061115/img/form-title.png?aee822fe7006da15be7d9ed300d5aa90" alt="" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s" >
                <div class="sign-up-form">
                    <div class="input-wrap">
                        <label for="">手机号码：</label>
                        <input type="text" class="phone" v-model="mobile" placeholder="请输入手机号码">
                    </div>
                    <div class="input-wrap">
                        <label for="">验证码：</label>
                        <input type="text" class="auth-code" v-model="vcode" placeholder="请输入验证码" maxlength="6">
                        <button type="button" class="btn btn-yellow btn-v-code" v-on:tap="sendSmsVCode" disabled v-bind:disabled="!vcodeEnable" v-text="btnSmsText">发送验证码</button>
                    </div>
                    <div class="voice-code" v-bind:class="{'show-voice': vcodeEnable}">收不到验证码？<a href="javascript:void(0)" v-on:tap="sendVoiceVCode">点击尝试获取语音验证码</a></div>

                    <button type="button" class="btn btn-yellow btn-submit" v-on:tap="login" disabled v-bind:disabled="!loginEnable">立即注册并下载小秋千</button>
                </div>
                            </div>

        </div>
        <div class="next-page btn-white" id="next_page"></div>
    </div>
    </div>

    <script type="text/javascript" src="assets/common/lib.js?fc95333fdc79dcd6fcab4661f00cdc73"></script>
        <script type="text/javascript">
        
    </script>
    <script type="text/javascript" src="assets/expand/061115/index.js?9f8f791e8f0a73759ea67f3d28443f9d"></script>
</body>
</html>