@charset "utf-8";
body {
    font-size: 16px;
}

div {
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 15px;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.nav .item {
    color: #777;
    font-size: 11px;
    text-align: center;
}

.nav .item:nth-child(2).active ~ .line {
    left: calc(100% * (1 / 6));
}

.nav .item:nth-child(3).active ~ .line {
    left: calc(100% * (2 / 6));
}

.nav .item:nth-child(4).active ~ .line {
    left: calc(100% * (3 / 6));
}

.nav .item:nth-child(5).active ~ .line {
    left: calc(100% * (4 / 6));
}

.nav .item:nth-child(6).active ~ .line {
    left: calc(100% * (5 / 6));
}

.nav .item:before {
    content: '';
    display: block;
    margin: 2px auto 5px auto;
    width: 30px;
    height: 30px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-size: 250px 50px;
}

.nav .line {
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #ff6749;
    height: 2px;
    width: 16.7%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.icon-role:before {
    background-position: -10px -10px;

}

.icon-casual:before {
    background-position: -50px -10px;
}

.icon-single:before {
    background-position: -90px -10px;
}

.icon-chess:before {
    background-position: -130px -10px;
}

.icon-action:before {
    background-position: -170px -10px;
}

.icon-shoot:before {
    background-position: -210px -10px;
}

.banner-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 70px;
}

.banner-wrapper a {
    display: block;
    width: 3.73rem;
    height: 3.4rem;
    text-decoration: none;
    color: #000;
}

.banner-wrapper a:active {
    background: #f0f0f0;
}

.banner-wrapper img {
    display: block;
    width: 100%;
}

.banner-wrapper .text {
    padding: .2rem .28rem;
    font-size: .32rem;
}

.banner-wrapper:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 3.75rem;
    width: 1px;
    height: 1.3rem;
    background-color: #e9e9e9;
}

.banner-wrapper .name {
    color: #777;
    font-size: .24rem;
}

.game-list {
    border-top: 1px solid #e9e9e9;
    padding-bottom: 20px;
}

.game-list .cell {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 0 0 15px;
    box-sizing: border-box;
    height: 80px;
    text-decoration: none;
    color: #000;
}

.cell img {
    width: 64px;
    height: 64px;
}

.text-wrapper {
    width: 4.3rem;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 12px;
    padding-top: 15px;
    padding-right: 75px;
    border-bottom: 1px solid #e9e9e9;

}

.text-wrapper .desc {
    display: block;
    margin-top: 5px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #777;
}

.cell .btn {
    position: absolute;
    right: 15px;
    top: 25px;
}

.btn {
    border: 1px solid #cacccd;
    padding: 0;
    width: 55px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    color: #5b5b5b;
    background-color: #fdfdfd;
    outline: none;

}

.btn:active {
    background: #f0f0f0;
}

/*# sourceMappingURL=style.css.map */
